@font-face {
    font-family: "Euclid";
    src: url("/storage/font/EuclidSquare-Light-WebS.woff2") format("woff2"),
    url("/storage/font/EuclidSquare-Light-WebS.woff") format("woff");
}

@font-face {
    font-family: "Euclid";
    font-weight: bold;
    src: url("/storage/font/EuclidSquare-SemiBold-WebS.woff2") format("woff2"),
    url("/storage/font/EuclidSquare-SemiBold-WebS.woff") format("woff");
}

@font-face {
    font-family: "Euclid";
    font-style: italic;
    src: url("/storage/font/EuclidSquare-LightItalic-WebS.woff2") format("woff2"),
    url("/storage/font/EuclidSquare-LightItalic-WebS.woff") format("woff");
}

html,
body {
    box-sizing: border-box;
    font-family: "Euclid", sans-serif;
    background-color: rgb(248, 248, 248);
    margin: 0;
    padding: 0;
    font-size: 17pt;
    line-height: 17pt;
}

a {
    color: black;
    text-decoration: underline;
    line-height: 17pt;
}

a:hover {
    cursor: pointer;
}

.social-link > img {
    height: 35px;
    width: auto;
}

/**** HEADER BEGIN ****/
#mobile {
    display: none
}

nav#nav-bar {
    user-select: none;
}

nav#nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav#nav-bar ul li {
    align-items: center;
    margin: 0 2em;
    display: flex;
    width: 25%;
    cursor: pointer;
}

#nav-bar li svg {
    height: 35px;
    display: block;
    transition: fill 0.2s;
}

#nav-bar li:hover svg {
    fill: green;
}

nav#nav-bar ul li:first-child {
    margin: 0;
}

nav#nav-bar ul li:last-child {
    margin-left: 0;
    margin-right: 2em;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 10vh;
    border-bottom: 2px solid rgb(149, 149, 149);
}

#logo-container > img {
    height: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    border-right: 2px solid rgb(149, 149, 149);
    border-left: 2px solid rgb(149, 149, 149);
}

/**** HEADER END ****/
/**** BACKOFFICE BEGIN ****/
.bo-wrapper {
    min-height: 80svh;
}

.bo-text {
    font-size: .8em;
}

main {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em 0;
}

.bo-container {
    width: 90%;
    margin: 0 auto;
}

.bo-form {
    background-color: #a0aec0;
    margin: 1em auto;
    width: 90%;
    border-radius: 2px;
    padding: 1em .5em;
}


.bo-form-login-group {
    display: flex;
    margin: .7em 0;
    justify-content: center;
}

.bo-form-group {
    display: flex;
    margin: .7em 0;
    justify-content: flex-start;
}

.bo-form-submit-group {
    display: flex;
    margin: .7em 0;
    justify-content: center;
}
.bo-login-label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1em;
    line-height: 1em;
}

.bo-label {
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1em;
    line-height: 1em;
}

.bo-form-group .bo-label{
    display: flex;
    justify-content: flex-end;
}

.bo-form-group .bo-input {
    margin-left: 1em;
}

.bo-input {
    border: none;
    padding: .2em;
}

.bo-input-number {
    width: 50%;
}

.bo-btn-form {
    appearance: none;
    border: 2px solid #B0B0B0FF;
    background-color: #B0B0B0FF;
    padding: .5em;
    color: #000;
    margin: .5em 1em;
    line-height: 17pt;
    font-size: 1em;
    font-family: "Euclid", sans-serif;
    text-decoration: none;
    border-radius: 2px;
}

.bo-btn-form:hover {
    cursor:pointer;
    color: green;
}

.bo-text-danger {
    width: 100%;
    display: flex;
}

.bo-text-danger > p {
    margin:.5em auto;
    background: #ff5b5b;
    color: #edf2f7;
    padding: .5em;

    border-radius: 2px;
}

.bo-form-meals-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin: .5em 0;
}

.bo-fieldset {
    border: 1px solid #7d8697;
    border-radius: 2px;
    padding: 1em;
    margin: 1em 0;
}

.bo-plus-btn-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bo-remove-btn {
    width: 20%;
}

/**** BACKOFFICE END ****/
/**** RESPONSIVE ****/

@media screen and (max-width: 730px) {
    nav#nav-bar {
        display: none;
    }

    #mobile {
        display: block;
    }

    img#toggle-nav {
        width: 50px;
    }

    #mobile nav#mobile-nav {
        display: flex;
        flex-direction: column;
    }

    #mobile ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
