@font-face {
    font-family: "Euclid";
    src: url("/storage/font/EuclidSquare-Regular-WebS.woff2") format("woff2"),
        url("/storage/font/EuclidSquare-Regular-WebS.woff") format("woff");
}

@font-face {
    font-family: "Euclid";
    font-weight: bold;
    src: url("/storage/font/EuclidSquare-Bold-WebS.woff2") format("woff2"),
    url("/storage/font/EuclidSquare-Bold-WebS.woff") format("woff");
}

@font-face {
    font-family: "Euclid";
    font-style: italic;
    src: url("/storage/font/EuclidSquare-RegularItalic-WebS.woff2") format("woff2"),
    url("/storage/font/EuclidSquare-RegularItalic-WebS.woff") format("woff");
}

html,
body {
    box-sizing: border-box;
    font-family: "Euclid", sans-serif;
    background-color: rgb(248, 248, 248);
    margin: 0;
    padding: 0;
    font-size: 17pt;
    line-height: 17pt;
}
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

p {
    padding: 1em;
}

a {
    color: black;
    text-decoration: underline;
}
a:hover {
    cursor: pointer;
}

/**** HEADER BEGIN ****/
nav {
    user-select: none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav ul li {
    margin: 0 2em;
    display: flex;
    align-items: center;
}
nav ul li:hover {
    cursor: pointer;
}

nav ul li img {
    height: auto;
    max-height: 25px;
    object-fit: scale-down;
    width: 125px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    border-bottom: 2px solid rgb(149, 149, 149);
}

#logo-container > img {
    height: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    border-right: 2px solid rgb(149, 149, 149);
    border-left: 2px solid rgb(149, 149, 149);
}

/**** HEADER END ****/

/**** HOMEMAIN BEGIN ****/
#wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

main {
    padding-top: 2em;
    width: 80%;
    min-height: 95vh;
    border-right: 2px solid rgb(149, 149, 149);
    border-left: 2px solid rgb(149, 149, 149);
    margin: 0 auto;
}

section {
    border-bottom: 2px solid rgb(149, 149, 149);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
}

#intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}

#intro > span > img {
    width: 100%;
}

#intro > span {
    width: 65%;
    text-align: center;
}

#desc-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.desc-img-container {
    width: 66%;
    border-right: 2px solid rgb(149, 149, 149);
    padding-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.desc-text > p {
    padding: 10px
}
#desc-bvn {
    width: 95%;
}

#desc-catels {
    width: 70%;
}

.desc-img-container > img  {
    margin: 1em 0;
}

.desc-text {
    width: 33%;
    flex-grow: 1;
}

.row .lacarte,
.row .entree,
.row .plat {
    width: 33%;
}

.row .entree.col,
.row .plat.col,
.row .desserts.col,
.row .contact-txt.col,
.row .partenaire-txt.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.row .lacarte.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.row .lacarte svg,
.row .entree svg,
.row .plat svg,
.row .contact-txt > img{
    max-height: 75px;
}

.row .partenaire-txt.col > img {
    /*max-width: 100%;*/
}
.container-carte-fleche-down {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-carte-fleche-down > img {
    width: 40%;
}

.row .entree {
    border-right: 2px solid rgb(149, 149, 149);
    border-left: 2px solid rgb(149, 149, 149);
}

#menu_hebdo .row .desserts,
#sponsor .row .partenaire-txt.col,
#contact .row .contact-txt.col{
    width: 33%;
    border-right: 2px solid rgb(149,149,149);
}


#menu_hebdo .row .hebdo_menus{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.hebdo_menus > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
    border-bottom: 2px solid rgb(149,149,149);
}

.hebdo_menus > a > img {
    max-width: 70%;
}

.hebdo_menus > a:last-child{
    border-bottom: none;
}

.contact-txt {
    width: 33%;
    border-right: 2px solid rgb(149,149,149);
}

.coordinate-txt {
    width: 50%;
}

.coordinate-txt > p {
    margin: 1em 0;
}

.contact-txt > img {
    max-height: 75px;
}

.coordinate {
    flex-grow: 1;
}

.coordinate .coordinate-container {
    display: flex;
    justify-content: space-between;
}

.coordinate-map-container {
    width: 50%;
}

#map-iframe {
    width: 100%;
    height: 100%;
}

.sponsor-logos-container {
    flex-grow: 1;
}

.sponsor-card-deck {
    display: inline-grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-content: center;
    gap: 1em;
}

.sponsor-logos-container .sponsor-card-deck img {
    height: 90%;
    width: 90%;
    object-fit: scale-down;
}
/**** HOMEMAIN END ****/

/**** FOOTER BEGIN ****/
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-left: 2px solid rgb(149, 149, 149);
    border-right: 2px solid rgb(149, 149, 149);
}

.footer-container div.col {
    width: 30%;
    padding: 2em 1em;
}


.horaire-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.horaire-row > span:first-child {
    margin-right: 1em;
}
/**** FOOTER END ****/

/**** RESPONSIVE ****/

@media screen and (max-width: 730px) {
    .row {
        flex-direction: column;
    }

    .row div {
        width: 100%!important;
    }
}
