@font-face {
    font-family: "Euclid";
    src: url("/storage/font/EuclidSquare-Light-WebS.woff2") format("woff2"),
    url("/storage/font/EuclidSquare-Light-WebS.woff") format("woff");
}

@font-face {
    font-family: "Euclid";
    font-weight: bold;
    src: url("/storage/font/EuclidSquare-SemiBold-WebS.woff2") format("woff2"),
    url("/storage/font/EuclidSquare-SemiBold-WebS.woff") format("woff");
}

@font-face {
    font-family: "Euclid";
    font-style: italic;
    src: url("/storage/font/EuclidSquare-LightItalic-WebS.woff2") format("woff2"),
    url("/storage/font/EuclidSquare-LightItalic-WebS.woff") format("woff");
}

@font-face {
    font-family: "Montecatini";
    font-weight: bold;
    src: url("/storage/font/MontecatiniPro-NormaleSemibold.otf") format("opentype")
}

@font-face {
    font-family: "Montecatini";
    font-weight: normal;
    src: url("/storage/font/MontecatiniPro-Normale.otf") format("opentype")
}

html,
body {
    box-sizing: border-box;
    font-family: "Euclid", sans-serif;
    background-color: rgb(248, 248, 248);
    margin: 0;
    padding: 0;
    font-size: 17pt;
    line-height: 17pt;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: underline;
    line-height: 17pt;
}

a:hover {
    cursor: pointer;
}

.social-link > img {
    height: 35px;
    width: auto;
}

.green {
    color: #005d2c;
}


.price {
    display: block;
    color: #005d2c;
    text-align: right;
    font-weight: bold;
}

.red {
    color: #cc5137;
}

.menu-font {
    font-family: "Montecatini", serif;
}

/**** HEADER BEGIN ****/
#mobile {
    display: none
}

nav#nav-bar {
    user-select: none;
}

nav#nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

    display: inline-grid;
    grid-template-columns: 175px 175px 175px;
    grid-column-gap: 3rem;
}

nav#nav-bar ul li {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}


#nav-bar li svg {
    height: 35px;
    aspect-ratio: 5/1;
    object-fit: contain;
    display: block;
    transition: fill 0.2s;
}


#nav-bar li:hover svg path,
#nav-bar li:hover svg {
    fill: #005d2c;
}

nav#nav-bar ul li:first-child {
    margin: 0;
}

nav#nav-bar ul li:last-child {
    margin-left: 0;
    margin-right: 2em;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 10vh;
    border-bottom: 2px solid rgb(149, 149, 149);
}

#logo-container > img {
    height: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    border-right: 2px solid rgb(149, 149, 149);
    border-left: 2px solid rgb(149, 149, 149);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 31px;
}

.toggle-button .bar {
    height: 5px;
    width: 100%;
    background: #000;
    border-radius: 10px;
}

/**** HEADER END ****/

/**** HOMEMAIN BEGIN ****/

section {
    width: 100%;
}

.row {
    border-left: 2px solid rgb(149, 149, 149);
    border-right: 2px solid rgb(149, 149, 149);
    border-bottom: 2px solid rgb(149, 149, 149);
    width: 90%;
    display: grid;
    margin: 0 auto;
    justify-content: center;
}

.col {
    padding: 2em;
}

#welcome > .row {
    grid-template-columns: 100%;
}

#desc > .row {
    grid-template-columns: calc((100% / 3) * 2) calc((100% / 3) * 1);
}

#carte > .row {
    grid-template-columns: calc((100% / 3) * 1) calc((100% / 3) * 1) calc((100% / 3) * 1);
}

#menu > .row {
    grid-template-columns: calc((100% / 3) * 1) calc((100% / 3) * 2);
}

#contact > .row {
    grid-template-columns: calc((100% / 3) * 1) calc((100% / 3) * 2);
}

.w-img {
    display: flex;
}

.w-img > * {
    margin: 0 auto;
    width: 100%;
}

.w-txt {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.w-img.col {
    padding-bottom: 0;
}

.w-txt.col {
    padding-top: .1em;
}


#d-img-bvn {
    width: 100%;
}

#d-img-catels {
    margin-top: 1em;
    width: 95%
}

.d-img {
    border-right: 2px solid rgb(149, 149, 149);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-col:first-child,
.c-col:last-child {
    border: none;
}

.c-col {
    border-left: 2px solid rgb(149, 149, 149);
    border-right: 2px solid rgb(149, 149, 149);
}

.c-col-carte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#c-col-txt-img,
.m-col-txt-img,
.col-txt-img {
    width: 100%;
    aspect-ratio: 5/1;
    object-fit: contain;
}

img.c-col-catel {
    width: 150px;
    align-self: center;
    justify-self: flex-end;
}

.m-col:last-child {
    border-left: 2px solid rgb(149, 149, 149);
}

#carte {
    display: inline-grid;
    grid-template-columns: 100%;
    padding: 0 !important;
}

#carte > a {
    border-bottom: 2px solid rgb(149, 149, 149);
    padding: 2em;
    display: flex;
}

#carte > a svg {
    height: 50%;
    margin: 0 auto;
    width: 100%;
}

#carte > a:last-child {
    border-bottom: none;
}

#carte a:hover > svg {
    transition: fill 0.2s;
}

#carte a:hover > svg {
    fill: #005d2c;
}

.co-col:last-child {
    border-left: 2px solid rgb(149, 149, 149);
}

#coordinate_map {
    display: inline-grid;
    grid-template-columns: 50% 50%;
}

.coordinate-map-container {
    border-left: 2px solid rgb(149, 149, 149);
}

#map-iframe {
    height: 100%;
    width: 100%;
}

/**** HOMEMAIN END ****/

/**** FOOTER BEGIN ****/
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-left: 2px solid rgb(149, 149, 149);
    border-right: 2px solid rgb(149, 149, 149);
}

.footer-container div.col {
    width: 30%;
    padding: 1em;
}


.horaire-row {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.horaire-row > span{
    width: 50%;
}

.social a > img:first-child{
    margin-right: .5em;
}

.social a > img {
    margin-top: .5em;
}

/**** FOOTER END ****/

/**** RESPONSIVE ****/

@media screen and (max-width: 780px) {
    #logo-container {
        height: 100%;
    }
    nav#nav-bar ul {
        display: none;
    }
    .toggle-button {
        display: flex;
    }
    nav#nav-bar {
        transition: display 1s;
    }

    .display {
        display: flex!important;
    }

    nav#nav-bar ul {
        flex-direction: column;
        align-items: center;
    }

    nav#nav-bar ul li {
        margin: 1em 0!important;
    }

    .header-container {
        flex-direction: column;
    }

    #logo-container > img {
        width: 20%;
        aspect-ratio: 1;
        object-fit: cover;
    }

    #link-menus {
        margin: 0 !important;
    }

    #link-menus > a:first-child {
        border-top: 2px solid rgb(149, 149, 149);
    }

    #link-menus > a {
        padding: 2em 2em;
        display: unset;
    }
    #link-menus > a svg {
        height: unset;
        margin: unset;
    }

    .w-img.col > img {
        max-width: 95%;
    }

    #welcome > .row,
    #carte > .row,
    #desc > .row,
    #menu > .row,
    #coordinate_map,
    #contact > .row {
        grid-template-columns: 100%;
    }

    .row *,
    .row > div.col:last-child,
    .row > div.col:first-child,
    .row > div.col {
        border-left: none !important;
        border-right: none !important;
    }
    #welcome > .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .w-img.col {
        width: 100%;
    }
    .d-img.col{
        padding-bottom: 0;
    }
    .d-txt.col {
        padding-top: 0;
    }

    .d-txt.col > p{
        margin-top: 0;
    }

    .col {
        padding: 1em 0;
        margin: 0 1em;
    }

    .coordinate-map-container {
        border-top: 2px solid rgb(149, 149, 149);
        height: 35vh;
    }

    footer,
    .footer-container {
        flex-direction: column;
        align-content: center;
        justify-self: center;
    }

    .horaire-row {
        margin: 1em 0;
    }

    .horaire-row > span{
        width: unset;
    }

    .footer-container div.col {
        width: unset;
        padding: 2em 0;
    }
}
